@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&family=Ubuntu&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.button {
  width: 70px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
}

.row {
  margin: 8px 0;
}

.row1 input {
  font-size: 25px;
  margin: 0;
  margin-top: 3px;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}

.container {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 340px;
  background-color: rgb(250, 233, 233);
}
